.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.titre {
  color: #c95555;
  text-align: center;
  margin: 30px;
}

ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.result > li  {
  justify-content: center;
}

.recipes-book {
  width: 30px;
}

.rules{
  width: 30px
}

.chef{
  width:20px
}
.time{
  width : 20px
}
.joker{
  width : 20px
}
.dessert{
  width : 20px
}

.oven{
  width : 47px
}
